# Database config and others credentials
/app/config/parameters.yml
/build/
/phpunit.xml

# Cache, logs and other
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

# External depedencies
/vendor/
# Bundle assets
/web/bundles/

# Uploaded files
/web/icons/*
!web/icons/.gitkeep
/web/upload/*
!web/upload/.gitkeep
