<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">History</h3>
    </div>
    <table class="table">
    {% if obj.createdAt %}
        <tr>
            <th>Createdat</th>
            <td>{{ obj.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    {% endif %}
    {% if obj.modifitedAt %}
        <tr>
            <th>Modifitedat</th>
            <td>{{ obj.modifitedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    {% endif %}
    {% if obj.createdBy %}
        <tr>
            <th>CreatedBy</th>
            <td>{{ obj.createdBy }}</td>
        </tr>
    {% endif %}
    {% if obj.modifitedBy %}
        <tr>
            <th>ModifitedBy</th>
            <td>{{ obj.modifitedBy }}</td>
        </tr>
    {% endif %}
    </table>
</div>