{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Maps</h3>
        </div>
        <div class="panel-body">
          <ul>
            {% for map in maps %}
              <li>
                <a href="{{ path('embed_map_slug', { 'slug': map.slug}) }}">{{ map.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
    </div>
{% endblock %}
