{% extends "embed/base.html.twig" %}

{% block title %}{{ map.title }}{% endblock %}
{% block content %}
  <div
    data-sowp-map
    data-sowp-map-url="{{ absolute_url(path('api_map_show', { slug: map.slug })) }}"
    class="map-container"></div>
{% endblock %}
