{% extends "embed/base.html.twig" %}

{% block content %}
<div
    data-sowp-map
    data-sowp-point-url="{{ absolute_url(path('api_point_show', { id: point.id })) }}"
    class="map-container"></div>
{% endblock %}
