{% import "embed/macros.html.twig" as embed %}
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Embed</h3>
  </div>
  <div class="panel-body">
    Kod do zamieszczenia na stronie:
    <pre>{{ embed.iframe_map(map) | escape }}</pre>
  </div>
</div>
