{% import "embed/macros.html.twig" as embed %}



<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Embed</h3>
  </div>
  <div class="panel-body">
    Kod do zamieszczenia na stronie:

    {% set iframe_code %}{% spaceless %}
      <iframe src="{{ absolute_url(url('embed_point_slug', {id: 9999})) | replace({"9999": "{ID}"}) }}?theme={THEME}" frameborder="0"></iframe>
    {% endspaceless %}{% endset %}

    <code-preview data-id="{{ map.id }}" data-code="{{ iframe_code | escape }}"></code-preview>

    <p>W usługach, które obsługją <a href="https://oembed.com/">oEmbed</a>, wystarczy wkleić link w pole tekstowe.</p>
  </div>
</div>
