{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}



<li>
  <a class="sonata-action-element" href="{{ url('embed_map_slug', {slug: object.slug}) }}">
    <i class="fa fa-globe" aria-hidden="true"></i>
    Show in browser
  </a>
</li>

