{% extends 'base.html.twig' %}

{% block lat_lng_widget %}
  {{- block('form_widget') -}}
  <div id="{{ id }}_canvas" style="width: 100%; height: 300px;"></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script
    type="text/javascript"
    src='https://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyDGED8I-MNqAt6Og9owPHo6PEpqRQLgaXA'></script>
  <script
    type="text/javascript"
    src="https://unpkg.com/jquery-locationpicker@0.1.12/dist/locationpicker.jquery.min.js"
    integrity="sha384-v6Or+XGUBtfx9y8Z6pNl4+1agCkqQVNWxrt6NGny15X035yJabzQsjHMKWN3IL8y"
    crossorigin="anonymous"></script>
  <script>
    (function() {
      var $input_lat = $('#point_latlng_lat');
      var $input_lng = $('#point_latlng_lng');
      var $input_address = $('#point_latlng_address');

      var options = {
        radius: 0,
        location: {
          latitude: 52.233333,
          longitude: 21.016667
        },
        zoom: 6,
        inputBinding: {
          latitudeInput: $input_lat,
          longitudeInput: $input_lng,
          locationNameInput: $input_address
        },
        enableAutocomplete: true,

      };

      if(
        $input_lat.val() && !isNaN($input_lat.val()) &&
        $input_lng.val() && !isNaN($input_lng.val()) ){
        options['location'] = {
          latitude: $input_lat.val(),
          longitude: $input_lng.val()
        }
      }

      $('#point_latlng_canvas').locationpicker(options);
    })();
  </script>
{% endblock javascripts %}
