{% extends 'point/_layout_form.html.twig' %}

{% form_theme form _self %}

{% block body %}
    <div class="pull-right">
        <a href="{{ path('point_index') }}" class="btn btn-default">Back to the list</a>
    </div>
    <h1>Point creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}
